@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  color: #0d1321;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #0d1321;
  font-family: "Azeret Mono", monospace;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid;
  color: ;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
  font-family: "Azeret Mono", monospace;
}
.btn {
  padding: 21px 24px;
  border-radius: 8px;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  font-family: "Azeret Mono", monospace;
  cursor: pointer;
}
.btn.btn-bordered {
  border: 1px solid #0d1321;
  background-color: #ffffff;
}
.btn-primary {
  background-color: #0d1321;
  color: #ffffff;
  border: 0;
}
.text-center {
  text-align: center;
}
.section-padding {
  padding: 120px 0;
}
/* Common section heading styles */
.section-header {
  text-align: center;
  margin: 0 auto;
  width: 736px;
  margin-bottom: 48px;
}

.section-title {
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.section-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* 
.text-primary {
  color: #fd6e0a;
}
.pt-0 {
  padding-top: 0;
}
.mb-80 {
  margin-bottom: 80px;
}
.section-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-column {
  width: 558px;
}
*/
/* Header Styles */
.full-width {
  width: 100%;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.navbar ul {
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-size: 28px;
  font-weight: 800;
}
/* Banner Styles */
.banner-bg {
  background-image: url(../assets/images/Hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 26px 0 45px 0;
  height: 652px;
}
.banner-content {
  width: 998px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

h1.banner-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
p.banner-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* Development area styles */
#card-container-section {
  padding: 74px 0 90px 0;
}
.card-content {
  height: auto;
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.single-card-item {
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  padding: 48px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 90px;
}
.single-card-item:nth-child(3) {
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.card-item-text {
  width: 65%;
}

.card-item-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.card-item-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.card-item-text .btn {
  border-radius: 0;
  padding: 12px 20px;
}
.card-item-img {
  width: 35%;
  text-align: center;
  height: 240px;
}
/* YouTube video area styles */
.video-inner {
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 32px;
}
.video-inner iframe {
  width: 100%;
  height: 550px;
  border-radius: 16px;
}
